<!DOCTYPE html>
<html lang="ko"
      xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/main-layout}"
>
<head>
    <meta charset="UTF-8">
    <title>승훈이 게시판</title>
<!--    <link rel="stylesheet" href="../../static/css/customer_service/layout/header.css" th:href="@{/css/customer_service/layout/header.css}">-->
    <link rel="stylesheet" href="../static/css/board.css" th:href="@{/css/board.css}">
    <script th:src="@{/js/board.js}" defer></script>
    <script src="https://kit.fontawesome.com/d19fdaba43.js" crossorigin="anonymous"></script>
</head>
<body>
<main layout:fragment="main">
    <th:block th:if="${isError}">
        <script>
            alert('해당 게시물은 비밀번호를 입력해야 합니다!')
        </script>
    </th:block>

<!--    <header th:replace="~{customer_service/layout/header :: header}"></header>-->

    <section id="faq-board-section">
        <table>
            <colgroup>
                <col class="no">
                <col class="title">
                <col class="write-date">
                <col class="writer">
                <col class="view-count">
                <col class="is-opened">
                <col class="is-answered">
            </colgroup>
            <thead>
            <tr>
                <th>번호</th>
                <th>제목</th>
                <th>작성날짜</th>
                <th>작성자</th>
                <th>조회수</th>
                <th>공개여부</th>
                <th>댓글수</th>
            </tr>
            </thead>

            <tbody>
            <tr>
                <td>번호</td>
                <td><a>제목</a></td>
                <td>작성날짜</td>
                <td>작성자</td>
                <td>조회수</td>
                <td>공개여부</td>
                <td>댓글수</td>
            </tr>
            </tbody>
        </table>

        <div>
            <button type="button" id="faq-write-btn" onclick="location.href= 'board/write'">글쓰기</button>
        </div>

        <nav class="pagination-nav">
            <ul class="pagination">
                <li><a href="#"><i class="fa-solid fa-angle-left"></i></a></li>
                <li active><a href="#">1</a></li>
                <li><a href="#">2</a></li>
                <li><a href="#">3</a></li>
                <li><a href="#">4</a></li>
                <li><a href="#"><i class="fa-solid fa-angle-right"></i></a></li>
            </ul>
        </nav>



    </section>


</main>
</body>
</html>