<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>게시판</title>
    <link rel="stylesheet" href="../static/css/board.css" th:href="@{/css/board.css}">

</head>
<body>
<div class="board-container">
    <h1 class="board-title">게시판</h1>
    <table class="board-table">
        <thead>
        <tr>
            <th>번호</th>
            <th>제목</th>
            <th>작성자</th>
            <th>작성일</th>
            <th>조회수</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>1</td>
            <td><a href="#">게시판 예제 제목</a></td>
            <td>홍길동</td>
            <td>2024-12-10</td>
            <td>123</td>
        </tr>
        <tr>
            <td>2</td>
            <td><a href="#">두 번째 게시물 제목</a></td>
            <td>김영희</td>
            <td>2024-12-09</td>
            <td>45</td>
        </tr>
        <tr>
            <td>2</td>
            <td><a href="#">두 번째 게시물 제목</a></td>
            <td>김영희</td>
            <td>2024-12-09</td>
            <td>45</td>
        </tr>
        <tr>
            <td>2</td>
            <td><a href="#">두 번째 게시물 제목</a></td>
            <td>김영희</td>
            <td>2024-12-09</td>
            <td>45</td>
        </tr>
        </tbody>
    </table>
    <div class="board-footer">
        <button class="btn">글쓰기</button>
    </div>
</div>
</body>
</html>
